<%- include('../partials/header')  %>

<form action="/flights" method="POST">
    <br>
    <label> Airline:
        <select name="airline">
            <option value="United">United</option>
            <option value="Southwest">Southwest</option>
            <option value="American">American</option>
        </select>
    </label> 
    <br><br>
    <label> Flight Number:
        <input type="text" name='flightNo'>
    </label>
    <br><br>
    <label> Departure Date:
        <input type="datetime-local" name='departs'>
    </label>
    <br><br>
    <label> Departure Airport
        <select name="airport">
            <option value="DEN">DEN</option>
            <option value="AUS">AUS</option>
            <option value="LAX">LAX</option>
            <option value="DFQ">DFQ</option>
            <option value="SAN">SAN</option>
        </select>    
    </label>
<br></br>

<button type='submit'>Add Flight</button>
</form>
<form method="GET" action="/tickets/flights/<%= flight._id %>/tickets/new">
    <button type="submit">Add Ticket</button>
</form>

<%- include('../partials/footer') %> 

